$primaryfontfamily: Space Grotesk;

$primaryfontsize: 18px;
$mediumfontsize: 28px;
$formfontsize: 12px;
$formsletterspacing: 2px;
$cardfontsize: 14px;


$whitecolor: #FFFFFF;
$deepviletcolor: #21092F;
$lightbluecolor: #47A2FF;
$pinkcolor: #D53AFF;
$orangecolor: #FF834A;
$redcolor: #FF5050;

