* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #21092F;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.purple {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: #21092F;
  width: 35vw;
  height: 100vh;
}

.white {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #FFFFFF;
  width: 65vw;
  height: 100vh;
}

.form {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  width: 20vw;
  height: 100vh;
  letter-spacing: 2px;
  font-size: 12px;
  color: #21092F;
  text-transform: uppercase;
  font-weight: bold;
}
.form label {
  height: 5vh;
}
.form input {
  width: 100%;
  height: 5vh;
  border-radius: 10px;
  border: 0.1px solid rgba(33, 9, 47, 0.2);
  opacity: 0.1;
}
.form input::-moz-placeholder {
  color: #21092F;
  font-size: 18px;
  padding-left: 4%;
  opacity: 0.5;
}
.form input::placeholder {
  color: #21092F;
  font-size: 18px;
  padding-left: 4%;
  opacity: 0.5;
}
.form input, .form text {
  color: #21092F;
  font-size: 18px;
  padding-left: 4%;
  font-family: Space Grotesk;
  opacity: 1;
}
.form input:focus {
  border: solid #6348FE;
}
.form .number {
  width: 100%;
}
.form .number input {
  margin-bottom: 5%;
  margin-top: 2%;
}
.form .name {
  width: 100%;
}
.form .name input {
  margin-bottom: 5%;
  margin-top: 2%;
}
.form .name p {
  font-size: 10px;
  letter-spacing: 0;
  color: #FF5050;
  margin-top: -15px;
  margin-bottom: 20px;
  visibility: hidden;
}
.form .card {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  margin-bottom: 5%;
  width: 100%;
  gap: 5%;
}
.form .card .expire {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}
.form .card .expire input {
  width: 100%;
}
.form .card .expire .month-year {
  display: flex;
  justify-content: center;
  align-items: end;
  flex-direction: row;
  margin-top: -10%;
  gap: 5%;
}
.form .card .expire .month-year input {
  width: 50%;
}
.form .card .expire input::-moz-placeholder {
  padding-left: 20%;
}
.form .card .expire input::placeholder {
  padding-left: 20%;
}
.form .card .cvc {
  display: flex;
  justify-content: end;
  align-items: start;
  flex-direction: column;
}
.form .card .cvc input {
  width: 100%;
}
.form .card .cvc input {
  margin-top: -20%;
}
.form .card .cvc input::-moz-placeholder {
  padding-left: 20%;
}
.form .card .cvc input::placeholder {
  padding-left: 20%;
}
.form input#submit {
  background-color: #21092F;
  opacity: 1;
  color: #FFFFFF;
  font-size: 18px;
}
.form input#submit:hover {
  background-color: #FFFFFF;
  opacity: 1;
  color: #21092F;
  font-size: 18px;
  border: solid #21092F;
}

.return {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 381px;
  height: 291px;
  visibility: hidden;
}
.return p:nth-child(2) {
  font-size: 28px;
  color: #21092F;
  letter-spacing: 3.42px;
  font-family: Space Grotesk;
  text-transform: uppercase;
  margin-bottom: -10%;
}
.return p:nth-child(3) {
  color: #8F8694;
  font-size: 18px;
  font-family: Space Grotesk;
}
.return button {
  width: 100%;
  height: 20%;
  border-radius: 7px;
  background-color: #21092F;
  color: #FFFFFF;
  color: #FFFFFF;
  font-size: Space Grotesk;
  letter-spacing: 3.42px;
  font-weight: bold;
}

.card-front {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 447px;
  height: 245px;
  position: absolute;
  top: 25%;
  right: 60%;
  text-transform: uppercase;
}

.front-content {
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
  position: absolute;
  width: 372px;
  height: 210px;
  gap: 15%;
}
.front-content .card-number {
  font-size: 28px;
  color: #FFFFFF;
  letter-spacing: 0.2rem;
  width: 100%;
  font-family: Space Grotesk;
}
.front-content .card-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  font-size: 14px;
  color: #FFFFFF;
  width: 100%;
  letter-spacing: 0.2rem;
  font-family: Space Grotesk;
  text-transform: uppercase;
}

.card-back {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.card-back img {
  position: absolute;
  top: 55%;
  right: 55%;
}
.card-back span {
  position: absolute;
  top: 67%;
  right: 58%;
  font-family: Space Grotesk;
  letter-spacing: 0.2rem;
  color: #FFFFFF;
  font-size: 14px;
}/*# sourceMappingURL=style.css.map */