@import './_variables';

@mixin flexCenter($justify-content, $flex-direction, $align-items) {
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
    flex-direction: $flex-direction;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {  
    width: 100%;
    height: 100vh;
    background-color: $deepviletcolor; 
    
}

.container {
    @include flexCenter(space-between, row, center);
    width: 100%;
    height: 100%;

}

.purple {
    @include flexCenter(space-between, column, center);
    background-color: $deepviletcolor;
    width: 35vw;
    height: 100vh;
}

.white {
    @include flexCenter(center, column, center);
    background-color: $whitecolor;
    width: 65vw;
    height: 100vh;
    
    
    .form {
        @include flexCenter(center, column, start);
        width: 25vw;        
        height: 100vh;
        letter-spacing: $formsletterspacing;
        font-size: $formfontsize;
        color: $deepviletcolor; 
        text-transform: uppercase;
        font-weight: bold;       

        label {
            height: 5vh;
        }
        input {
            width: 100%;
            height: 5vh;
            border-radius: 10px;
            border: 0.1px solid gray;
            opacity: 0.5;

        }

        input::placeholder{
            color: $deepviletcolor;
            font-size: $primaryfontsize;
            padding-left: 4%;

            
        }

        

        .number {           
            width: 100%;
            input {
                margin-bottom: 5%;
                margin-top: 2%;
            }
        
        }

        .name {            
            width: 100%;
            input {
                margin-bottom: 5%;
                margin-top: 2%;
            }
        }

        .card {
            @include flexCenter(start, row, center);
            margin-bottom: 5%;
            width: 100%;                                      

            input {                
                width: 100%;                
            }

            .expire {
                @include flexCenter(center, column, start);
                width: 100%;                             
                               
                .month-year {
                    @include flexCenter(center, row, end);
                    margin-top: -10%;
                    width: 90%;
                    gap: 10%;                    
                }
                input::placeholder {
                    padding-left: 20%;
                }

            }
            .cvc {
                @include flexCenter(end, column, start);                
                width: 100%; 
                input {
                    margin-top: -10%;                   
                    
                }
                input::placeholder {
                    padding-left: 20%;
                }
                           
            } 
        }        
    }
    input#submit {
        background-color: $deepviletcolor;
        opacity: 1;
        color: $whitecolor;
        font-size: $primaryfontsize;
    }
}

.card-front {
    @include flexCenter(center, row, center);
    width: 447px;
    height: 245px; 
    position:absolute;    
    top: 25%;
    right: 60%;
    text-transform: uppercase;    
        
}

.front-content {
    @include flexCenter(end, column, center);
    position: absolute;    
    width: 372px;
    height: 210px;
    gap: 15%;    
    

    .card-number {
        font-size: 28px;
        color: #FFFFFF;
        letter-spacing: .2rem;
        width: 100%;        
        font-family: 'Space Grotesk', sans-serif;
     
    }

    .card-name {
        @include flexCenter(space-between, row, center);
        font-size: 14px;
        color: #FFFFFF; 
        width: 100%;               
        letter-spacing: .2rem;
        font-family: 'Space Grotesk', sans-serif;
        text-transform: uppercase;
    }


}

.card-back {
    @include flexCenter(center, row, center);
    img {
        position:absolute;
        top: 55%;
        right: 55%;

    }
    span {
        position:absolute;
        top: 67%;
        right: 58%;
        font-family: 'Space Grotesk', sans-serif;
        letter-spacing: .2rem;
        color: #FFFFFF;
        font-size: 14px; 
    }
    
}

