@import './_variables';

@mixin flexCenter($justify-content, $flex-direction, $align-items) {
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
    flex-direction: $flex-direction;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {  
    width: 100%;
    height: 100vh;
    background-color: $deepviletcolor; 
    
}

.container {
    @include flexCenter(space-between, row, center);
    width: 100%;
    height: 100%;

}

.purple {
    @include flexCenter(space-between, column, center);
    background-color: $deepviletcolor;
    width: 35vw;
    height: 100vh;
}

.white {
    @include flexCenter(center, column, center);
    background-color: $whitecolor;
    width: 65vw;
    height: 100vh;
}
    
    
    .form {
        @include flexCenter(center, column, start);
        width: 20vw;        
        height: 100vh;
        letter-spacing: $formsletterspacing;
        font-size: $formfontsize;
        color: $deepviletcolor; 
        text-transform: uppercase;
        font-weight: bold;               

        label {
            height: 5vh;
        }
        input {
            width: 100%;
            height: 5vh;
            border-radius: 10px;
            border: 0.1px solid rgba(33,9,47,0.2);
            opacity: 0.1;

        }

        input::placeholder{
            color: $deepviletcolor;
            font-size: $primaryfontsize;
            padding-left: 4%;
            opacity: 0.5;

            
        }
        input, text {
            color: $deepviletcolor;
            font-size: $primaryfontsize;
            padding-left: 4%;
            font-family: $primaryfontfamily;
            opacity: 1;            
        }

        input:focus {
            border: solid #6348FE;
        } 

        .number {           
            width: 100%;
            input {
                margin-bottom: 5%;
                margin-top: 2%;
            }
        }

        .name {            
            width: 100%;
            input {
                margin-bottom: 5%;
                margin-top: 2%;
            }

            p {
                font-size: 10px;
                letter-spacing: 0;
                color: $redcolor;
                margin-top: -15px;
                margin-bottom: 20px;
                visibility: hidden;                
            }
        }

        .card {

            @include flexCenter(start, row, center);
            margin-bottom: 5%;
            width: 100%;
            gap: 5%;
        
            .expire {
                @include flexCenter(center, column, start);
                input {
                    width: 100%; 
                }                                            
                               
                .month-year {
                    @include flexCenter(center, row, end);
                    margin-top: -10%;
                    input {
                        width: 50%;
                    }                    
                    gap: 5%;                    
                }
                input::placeholder {
                    padding-left: 20%;
                }

            }
            .cvc {
                @include flexCenter(end, column, start);
                input {
                    width: 100%; 
                }                
                
                input {
                    margin-top: -20%;                   
                    
                }
                input::placeholder {
                    padding-left: 20%;
                }
                           
            } 
              
    }
    input#submit {
        background-color: $deepviletcolor;
        opacity: 1;
        color: $whitecolor;
        font-size: $primaryfontsize;
    }
    input#submit:hover {
        background-color: $whitecolor;
        opacity: 1;
        color: $deepviletcolor;
        font-size: $primaryfontsize;
        border: solid $deepviletcolor;
    }

}

.return { 

    @include flexCenter(space-between, column, center);      
    width: 381px;
    height: 291px;    
    visibility: hidden; 
    

    p:nth-child(2) {        
        font-size: $mediumfontsize;
        color: $deepviletcolor;
        letter-spacing: 3.42px;
        font-family: $primaryfontfamily;
        text-transform: uppercase;
        margin-bottom: -10%;        
    }

    p:nth-child(3){        
        color: $lightpurple;
        font-size: $primaryfontsize;
        font-family: $primaryfontfamily;

    }

    button {
        width: 100%;
        height: 20%;
        border-radius: 7px;
        background-color: $deepviletcolor;
        color: $whitecolor;
        color: $whitecolor;
        font-size: $primaryfontfamily;
        letter-spacing: 3.42px;
        font-weight: bold;
    }
}  

.card-front {
    @include flexCenter(center, row, center);
    width: 447px;
    height: 245px; 
    position:absolute;    
    top: 25%;
    right: 60%;
    text-transform: uppercase;    
        
}

.front-content {
    @include flexCenter(end, column, center);
    position: absolute;    
    width: 372px;
    height: 210px;
    gap: 15%;    
    

    .card-number {
        font-size: $mediumfontsize;
        color: $whitecolor;
        letter-spacing: .2rem;
        width: 100%;        
        font-family: $primaryfontfamily;
     
    }

    .card-name {
        @include flexCenter(space-between, row, center);
        font-size: $cardfontsize;
        color: $whitecolor; 
        width: 100%;               
        letter-spacing: .2rem;
        font-family: $primaryfontfamily;
        text-transform: uppercase;
    }

}

.card-back {
    @include flexCenter(center, row, center);
    img {
        position:absolute;
        top: 55%;
        right: 55%;

    }
    span {
        position:absolute;
        top: 67%;
        right: 58%;
        font-family: $primaryfontfamily;
        letter-spacing: .2rem;
        color: $whitecolor;
        font-size: $cardfontsize; 
    }
    
}

