@import './_variables';

@mixin flexCenter($justify-content, $flex-direction, $align-items) {
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
    flex-direction: $flex-direction;
}



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {  
    width: 100%;
    height: 100vh;
    background-color: $deepviletcolor;
    
}

.container {
    @include flexCenter(space-between, row, center);
    width: 100%;
    height: 100%;

}

.purple {
    @include flexCenter(space-between, column, center);
    background-color: $deepviletcolor;
    width: 35vw;
    height: 100vh;
}

.white {
    @include flexCenter(center, column, center);
    background-color: $whitecolor;
    width: 65vw;
    height: 100vh;
    .form {
        @include flexCenter(center, column, start);
        width: 25vw;        
        height: 100vh;
        background-color: $lightbluecolor;
        label {
            height: 5vh;
        }
        input {
            width: 100%;
            height: 5vh;
            border-radius: 10px;         
            
        }

        
    }
}

.card-front {
    @include flexCenter(center, row, center);
    img {
        position: absolute;
    }
    span {
        position: relative;
    }
    display: none;    
}

.card-back {
    @include flexCenter(center, row, center);
    img {
        position: absolute;

    }
    span {
        position: relative;
    }
    display: none;
}

